[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycrypto = "*"

[dev-packages]
pylint = "*"
mypy = "*"
sphinx = "*"
coverage = "*"

[requires]
python_version = "3.9"
